@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,700;1,400&display=swap');
/* font rules = font-family: 'Raleway', sans-serif;*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap');
/* font rules = font-family: 'Montserrat', sans-serif;*/

/*-----------------------------------------------Colours*/
/* ---- Colour Pallette -----*/
/*- Main header & main colour: #263547 */
/*- Orangey complimentary colour: #ffd116 */
/*- Light Blue complimentary colour: #00C6B8 */
/* - Pastelly colour: #7B4845 */
/* - Download color: #04544B*/
/* - Dark Grey from CV: #545454 */

.bg-color-title-name {
    background-color: #263547;
}

.bg-color-three-reasons {
    background-color: whitesmoke;
}

.ui-menu-color-home {
    background-color: #ffd116;
}

.ui-menu-color-cv {
    background-color: #5C6086;
}

.ui-menu-color-contact {
    background-color: #545454;
}

.ui-menu-color-interests {
    background-color: #ffd116;
}

.ui-menu-color-github {
    background-color: #5C6086;
}

.ui-menu-color-download {
    background-color: #04544B;
}

.bg-color-perosnal-info, .bg-color-conferences {
    background-color: #5C6086;
}

.bg-color-contact {
    background-color: whitesmoke;
}
/*---------------------------------------------- Special paddings/margin/text */
h1, h2, h3, h4 {
    margin: 0;
}

.uppercase {
    text-transform: uppercase;
}

.general-sub {
    font-weight: 500;
    color: whitesmoke;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
}

.inline-block{
    display: inline-block;
}

.row-table {
    display: table;
}

.section-column {
    display: table-cell;
    padding: 0 30px 30px;
    float: none;
}

.overflow-auto {
    overflow-y: scroll;
}

.section-heading {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    margin-top: 25px;
    margin-bottom: 40px;
}

/*-----------------------------------------------Heading*/

header {
    margin: 0;
}

.heading {
    margin-left: 50px;
}
.logo {
    background-image: url('../images/joel-cv-cropped.jpg');
    background-position: center;
    /* background-image: url('../images/joel-rutter-cv-informal.jpg');
    background-position-y: 18%; */
    /*Above positioning can be commented out if switching to cropped photo*/
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 360px;
    transition: all 5s ease-in-out;
    -moz-transition: all 5s ease-in-out;
    -webkit-transition: all 5s ease-in-out;
}

.name {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 46px;
    margin-top: 50px;
    color: whitesmoke;
    letter-spacing: 3px;
}

.title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    font-size: 35px;
    margin-top: 20px;
    margin-bottom: 90px;
    color: whitesmoke;
}

.list-inline-item:not(:last-child) {
    margin: 0;
}

.menu-container {
    font-size: 0;
}

#nav {
    margin: 0;
}

#nav li {
    font-size: 14px;
    padding: 0;
}

.menu-item {
    height: 136px;
    text-align: center;
    padding: 0;
}

.menu-item a {
    text-decoration: none;
    color: darkslategray;
    width: 100%;
    height: 100%;
}

#cv a {
    color: whitesmoke;
}

#contact a {
    color: whitesmoke;
}

#download a {
    color: whitesmoke;
}

#interests a {
    color: darkslategray;
}

#github a {
    color: whitesmoke;
}

.menu-item a i {
    padding-top: 22px;
    display: block;
    font-size: 26px;
}

.menu-item span {
    display: block;
    width: 100%;
    padding-top: 15px;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 1px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

/*-----------------------------------------------hover.css overrides*/

.hvr-sweep-to-bottom:before {
    background: #263547;
    /* height: 120px; */
}

/*-----------------------------------------------FOOTER*/

footer {
    background-color: #545454;
    min-height: 120px;
}

footer p {
    color: whitesmoke;
    font-family: 'Montserrat', sans-serif;
}

.cv-pdf i {
    font-size: 26px;
    color: whitesmoke;
    text-align: center;
    padding-left: 5px;
    transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
}

.social-links {
    font-size: 45px;
    text-align: left;
    margin-left: 5px;
}

.social-links li a i {
    margin: 10px 35px 0px 0px;
    color: whitesmoke;
    transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
}

.cv-pdf i:hover, .social-links li a i:hover {
    color: #ffd116;
}

#footer-details {
    padding: 30px;
}

.footer-p {
    font-family: 'Montserrat', sans-serif;
}

/*-----------------------------------------------Three Reasons*/

.three-reasons-icon {
    font-size: 26px;
    color: rgb(39, 59, 59);
}

.three-reasons-heading {
    margin-bottom: 15px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

.three-reasons-item {
    font-family: 'Montserrat', sans-serif;
}

/*-----------------------------------------------Personal Info*/

.p-info-title, .conference-heading {
    color: whitesmoke;
}

.personal-info-item {
    margin-bottom: 20px;
    display: block;
    clear: both;
}

.personal-info-item .key,
.personal-info-item .value {
    color: whitesmoke;
    padding-right: 8px;
    display: inline-block;
}

.personal-info-item .key p,
.personal-info-item .value p {
    margin: 0;
}

.personal-info-item .key {
    width: 30%;
    margin-right: 21px;
    padding-top: 2px;
    vertical-align: top;
    font-family: 'Montserrat', sans-serif;
}


.personal-info-item .key p {
    font-weight: 600;
    letter-spacing: 1px;
}

.personal-info-item .value {
    position: relative;
    width: 60%;
    font-family: 'Montserrat', sans-serif;
}

div#map {
    min-height: 360px;
}
/*-----------------------------------------------Skills*/

.progress {
    position: relative;
    height: 25px;
    margin-bottom: 4px;
    background-color: #cecece;
}

.progress-bar {
    background-color: #263547;
}

.progress-type {
    position: absolute;
    left: 0px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    color: whitesmoke;
    padding: 3px 30px 2px 10px;
    background-color: rgba(25,25,25,0.2);
}

.progress-section {
    margin: 40px 20px;
}

/*-----------------------------------------------WORK HISTORY*/

.history-heading {
    margin-bottom: 50px;
}

.timeline-item {
    padding: 4em 2em 0em 2em;
    position:relative;
    color: whitesmoke;
    border-left: solid 2px;
    font-family: 'Montserrat', sans-serif;
}

.timeline-item p {
    padding: 0;
    margin: 0;
}

.timeline-item:before {
    content: attr(data-dates);
    position: absolute;
    left: 2.5em;
    top: 2.7em;
    display: block;
    font-family: 'Montserrat', sans-serif;
    padding: 0;
    margin: 0;
    font-size: 0.8em;
}

.timeline-item p:after {
    width: 12px;
    height: 12px;
    display: block;
    position: absolute;
    top: 2.4em;
    left: -7.5px;
    border-radius: 50%;
    content: '';
    background-color: whitesmoke;
}

/*-----------------------------------------------WORK HISTORY*/

.contact-heading-one,
.contact-heading-two {
    font-family: 'Montserrat', sans-serif;
}

.contact-heading-one {
    font-weight: 300;
    margin-top: 25px;
    margin-bottom: 20px;
}

.center-form {
    padding-top: 10px;
    margin: 0 auto;
    max-width: 70%;
}

.center-form {
    font-family: 'Montserrat', sans-serif;
}

button[type="submit"] {
    margin-top: 15px;
    margin-bottom: 20px;
    background-color: #263547; 
    color: whitesmoke;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 26px;
}

input[type="text"], input[type="email"], .form-control {
    margin-top: 10px;
    border: 1px solid darkslategray;
    border-radius: .25rem;
}


/*----------------------------------------------INTERESTS PAGE*/
.things-i-like-list-item {
    font-family: 'Montserrat', sans-serif;
}

#things-i-love {
    margin-left: 2rem;
}

/*---------------------------------------------GITHUB PAGE*/

.github-headings {
    font-family: 'Montserrat', sans-serif;
    margin-top: 10px;
}

.gh-avatar img {
    border-radius: 50%;
}

.content-container {
    min-height: 375px;
}

#gh-user-data {
    text-align: center;
}

#gh-user-data h2 {
    margin-top: 15px;
}
/*-----------------------------------------------MEDIA QUERIES*/
/*-------------Larger screen*/
@media (min-width: 992px) {
    .center-form {
        padding-top: 30px;
        min-height: 240px;
        margin: 0 auto;
        max-width: 45%;
    }
}

